html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #393838;
    color: #777575;
    font-weight: 500;
}

h1 {

  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #393838;
  color: #4d4d4d;
  font-weight: 500;


}


footer {

    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: linear-gradient(#2F2F2F, black);
    color: #B8BABB;
    font-weight: 500;

}

.panel {    border: 4px solid black;
    border-radius: 10px;
    padding: 5px 11px;
}



.whitebox {
	
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px 11px;
}

textarea {
	
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px 11px;
	

}



   
.thumbnail {
	
    border: 4px solid black;
    border-radius: 10px;
	
}
.btn-customi, .btn-customii {
  border: 4px solid black;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
}

.btn-customi {
  background: #fb7304;
}

.btn-customii {
  background: white;
}

.boxed {

    background: white; /* use your color here */
    border: 2px solid black;
}


.btn {
      color:black;
    }



a {
color: #c45f0d;
}
a:link {
color: #fb7304;
}
a:hover {
color: white;
}


.rows {
    display: flex;
}

.cols {
    display: flex;
    flex-direction: column;
}

.marginalized > *:not(:last-child) {
    margin-right: 10px;
}

.whitebox {
    margin: 10px;
    background: white;
}

.h100 { height: 100%; }

.w100 { width: 100%; }
.w20 { width: 20%; }
.w60 { width: 60%; }
.w80 { width: 80%; }
.w33 { width: 33%; }

.orange {
    background: #fb7304;
}

.textarea {
    resize: none;
    width: 95%;
    height: 95%;
}

.centered {
    justify-content: center;
}

.vcentered {
    align-items: center;
}

.error {
    background: red;
    color: white;
    font-weight: 800;
}

.r {
    text-align: right;
}

.l {
    text-align: left;
}

.c {
    text-align: center;
}

.small {
    font-size: 0.75em;
}

.scroll {
    overflow: scroll;
}

.some-height {
    min-height: 600px;
}

.equal-width {
    flex-grow: 1;
    flex-basis: 0;
}
.padding-b7 {
    padding-bottom: 7%;
}
