html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #393838;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}


.rows {
    display: flex;
}

.cols {
    display: flex;
    flex-direction: column;
}

.marginalized > *:not(:last-child) {
    margin-right: 10px;
}

.whitebox {
    margin: 10px;
    background: white;
}

.w100 { width: 100%; }
.w20 { width: 20%; }
.w60 { width: 60%; }
.w33 { width: 33%; }

.orange {
    background: #fb7304;
}

.textarea {
    resize: none;
    width: 90%;
    height: 90%;
}

.centered {
    justify-content: center;
}

.error {
    background: red;
    color: white;
    font-weight: 800;
}
